*html{
	scroll-behavior: smooth;
	width: 100%;
}

body{
	background-color: #191f21;
	margin: 0 auto;
}

#header-wrapper {
	background-color: #252e30;
	overflow: hidden;
	height: 150px;
}

#header {
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 310px;
	height: 150px;
	padding: 0px 0px 0px 40px;
}

.my-logo{float: left;
	width: 100px;
	height: 80px;
	padding: 35px 30px 0px 0px;}
/*#logo img {
	float: left;
	width: 820px;
	height: 100px;
	padding: 20px 30px 0px 0px;
}*/

/* Menu */

#menu {
	float: right;
	width: 810px;
	height: 80px;
	padding: 20px 40px 0px 0px;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 40px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-left: 1px;
	padding: 7px 20px 7px 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 15px;
	font-weight: 300;
	color: #F26623;
}

#menu a:hover {
	text-decoration: none;
	color: #fff;
	/*box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,.1);
	border-radius: 5px;*/
}

#wrapper{background-color: #FFFFFF;padding-top: 50px;}
/*#page {
 	background: url(images/img03.gif) repeat-y center top;
}

#page-bgtop {
	background: url(images/img02.gif) no-repeat center top;
}*/

/*#page-bgbtm {
	overflow: hidden;
	background: url(images/img04.gif) no-repeat center bottom;
}*/

#page-content {
	width: 940px;
	margin: 0px auto;
}

#content {
	float: left;
	width: 640px;
	padding: 0px 0px 0px 0px;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	color: #262626;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}
#page-content nav{
margin-left: 5px;
margin-top: 10px;
}

#page-content nav ul a{
background-color: #282561;
text-decoration: none;
color: #fff;
font-size: 10px;
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
padding-top: 5px;
}
#page-content nav ul a:hover{
background-color:#F26623;
} 
/* Footer */
/*
#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	background-color: #191f21;
	font-family: Arial, Helvetica, sans-serif;
}
#footer ul
{
padding-left: 0;
list-style: none;
text-align: center;
margin: 10px 0 10px 0;
}
#footer ul li{display: inline-block;}
#footer ul li i:hover  {color: #fff;  }

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #576475;
}

#footer a {
	color: #576475;
}*/
.footer
{
text-align: center;
background-color: #191f21;
padding: 20px 0;
color: #5d6162;
}
.footer ul
{
padding-left: 0;
list-style: none;
margin: 10px 0 10px 0;
}
.footer ul li{display: inline-block;}
.footer ul li i:hover  {color: #fff;  }

.fl-left{float: left;}
p{line-height: 1.5;color:#777;text-align: left;}
h2 ,h3 {color: #777;}
.my-button
{
border: 3px solid #6bec59;
background: none;
color: #6bec59;
padding: 10px 30px;
font-weight: bold;

}
.nav ul li a{
	text-decoration-line: none;
}
/* Banner */

#banner {
	margin-top: 20px;
	margin-bottom: 50px;
}
/*#banner a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
}*/